html,body{
    overflow: hidden;
}

#main1{
    text-align: center;
}

#color_picker{
    display: none;
}

#size_bar_current{
    display: none;
}

#fontsize_display{
    display: none;
}

#fontcolor_display{
    display: none;
}

#clipstock{
    display: none;
    font-size: 16px;
    transform: scale(0.8);
}